@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Serif+Text:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    background-image: url(../img/fondo1.png);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "DM Serif Text", serif;
    padding: 1rem;
    background-color: transparent;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 3rem;
}

.nav-list li a{
    text-decoration: none;
    color: #ffffff8e;
    transition: color 0.2s, border-bottom 0.1s;

}

.nav-list li a:hover {
    color: #ffffff; /* se pone blanco completo */
    border-bottom: 2px solid #ffffff; /* subrayado elegante */
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 60vh;
    font-family: "DM Serif Text", serif;
    color: aliceblue;
    font-size: 2.9rem;           
}

.hero-sub {
    display: flex;
    gap: 1rem; 
    align-items: center; 
    
}

.hero-sub p {
    font-size: 1.2rem;
    margin: 0;
}

.hero-btn {
    background: #0076b688;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-btn:hover {
    background: #023d8ab6;
}


@media screen and (max-width: 550px) {
    header {
        justify-content: flex-end; 
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2.25rem;
        align-items: end;
        background-color: transparent;
        cursor: pointer;
        padding: 0;
    }

    .abrir-menu {
        color: #1c1c1c;
        margin-right: 4rem;
        
    }

    .cerrar-menu {
        color: #ececec;
        margin: 0 0 4rem;
    }

    .nav{
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem 5rem;
        background-color: rgba(11, 125, 190, 0.856);
        backdrop-filter: blur(6px);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 1, 0.171);
    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        
    }
    .nav-list li a{
        color: white;
        box-shadow: #0e0d0d11 0px 8px 24px;
    
    }
}